* {
    padding: 0;
    margin: 0;
    font-family: open sauce system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkblue;
    font-size: 9pt;
}

::placeholder {
    color: red;
}

body {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
}

/* header atas */

.navbar-top, .nav-branding-top, .nav-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    white-space: nowrap;
}

.navbar-top, .nav-menu-top {
    padding: 3px 20px;
    gap: 20px;
}

.nav-branding-top {
    padding: 0 20px;
    gap: 5px;
}

.icon-header {
    width: 20px;
}

/* header tengah */

.navbar, .nav-branding, .nav-menu, .nav-menu-kategori {
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    background-color: lightyellow;
    display: flex;
}

.navbar {
    gap: 16.5px;
}

.nav-branding {
    margin-left: 35px;
}

.nav-menu {
    margin-left: auto;
    margin-right: 70px;
    gap: 80px;
}

/* @media screen and (max-width: 695px) {
    .nav-menu {
        gap: 40px;
    }
  } */

.nav-menu-kategori {
    padding-left: 6px;
}

.nav-menu-kategori a[href="/"] {
    padding-right: 22px;
    display: flex;
}

.nav-menu-kategori input[type=text] {
    all: unset;
    color: red;
    width: 585px;
    height: 27px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 11px;
    padding-right: 11px;
}

.nav-menu-kategori a[href="/"], .nav-menu-kategori input[type=text] {
    padding-bottom: 2px;
}

.icon-tokopedia {
    margin: 8px 0;
}

/* header bawah */

.navbar-bottom, .nav-menu-bottom {
    display: flex;
    padding: 2px;
    background-color: lightsalmon;
    gap: 17px;
    white-space: nowrap;
}

.nav-menu-bottom {
    margin-left: 275px;
}

h1 {
    padding-left: 8px;
    font-size: 25px;
}

.home, .about, .contact {
    height: 280px;
    background-color: lightgray;
    border: 1px solid black;
}

.home {
    margin-top: 140px;
}

.about, .contact {
    margin-top: 25px;
}

.contact {
    margin-bottom: 300px;
}

.nama {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    background-color: blue;
}